// bower:scss
// endbower

@import "/bower_components/semantic/dist/semantic.min.css";


html, body {
  font-family: 'Roboto', sans-serif;
}


.ui.vertical.menu .item.sidebar-selected {
  border-left: 4px solid red;

  &:hover {
    border-left: 4px solid red;
  }
}

.ui.vertical.menu .item {
  border-left: 4px solid transparent;

  &:hover {
    border-left: 4px solid lightgray;
  }
}